@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

a {
    color: black;
    transition: all 0.2s;
}

a:hover {
    opacity: 0.6;
}

a:active {
    opacity: 1;
}